
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" id="homeRedirect">BoardGameFinder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about.html" id="aboutBtn">Sobre nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/info.html" id="infoBtn">Información</a>
                </li>
                <li class="nav-item" id="loginBtn">
		  			<a class="nav-link" href="/login.html">Iniciar sesión</a>
				</li>
                <li class="nav-item" id="registerBtn">
		  			<a class="nav-link" href="/register.html">Registrar</a>
				</li>
                <li class="nav-item d-none" id="profileBtn">
                    <a class="nav-link" href="/profile.html">Perfil</a>
                </li>
                <li class="nav-item d-none" id="logoutBtn">
                    <a class="nav-link" href="#" onclick="logout()">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>