body {
    background-color: #f7f9fc;
}

h1 {
    font-weight: 700;
}

.table thead {
    background-color: #0d6efd;
    color: white;
}

.table td, .table th {
    vertical-align: middle;
}

.btn-success {
    font-weight: 600;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f2f6fc;
}
